/************************************************
Style the create and event form
************************************************/


#form-create-an-event {
  // Hide the editor tabs for Event Description
  .pods-form-ui-field-name-pods-field-clan-event-description {
    #wp-pods-form-ui-pods-field-clan-event-description-editor-tools {
      display: none;
      font-size: 0px;
      height: 0px;
      line-height: 0px;
    }
  }
  ul.pods-form-fields {
    padding: 0px;
    li.pods-field {
      .pods-field-label {
        display: block;
        width: 100%;
        label {
          font-weight: bold;
        }
      }
      .pods-field-input {
        display: block;
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
  .pods-submit {
    input[type="pods-submit-button"].pods-submit-button {

    }
  }
}
